<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
    <title>Empty chat</title>
  </head>
  <body>
    <main class="chat-page">
      <article class="chat">
        <h1 class="visually-hidden">Chat messenger App</h1>
        <section class="chat__chats-list-block">
          {{> link/link class="profile-link" href="#" title="Profile >"}}
          <form class="chat__filter-form filter-form">
            <input type="text" name="filter" class="filter-form__filter" />
          </form>
          <ul class="chat__chats-list chats-list">
            {{#each chat.tabs}}
            {{> chat-tab/chat-tab}}
            {{/each}}
          </ul>
        </section>
        <section class="chat__chat-text-block chat__chat-text-block--empty">
          <p class="chat__empty-chat-placeholder">
            Выберите чат чтобы отправить сообщение
          </p>
        </section>
      </article>
    </main>
  </body>
</html>
