.button {
  width: 100%;
  color: $white;
  background-color: $blue;
  border-radius: 8px;
  font-size: 13px;
  line-height: 37px;
  min-height: 37px;
  border: 0;
  box-shadow: 0;
  display: block;
  text-align: center;
  cursor: pointer;

  &--white {
    color: $blue;
    background-color: $white;
  }
}
