<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
    <title>Login</title>
  </head>
  <body>
    <main class="error-page">
      <article class="error">
        <h1 class="error__header">500</h1>
        <p class="error__text">Мы уже фиксим</p>
        {{> link/link  href="#" title="Назад к чатам"}}
      </article>
    </main>
  </body>
</html>
