.profile-form {
  min-width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.profile-form__title,
.profile-form__value {
  margin: 0;
}

.profile-form__value {
  color: $grey;
  width: 50%;
  border: 0;
  box-shadow: none;
  text-align: right;
}
