<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
    <title>Profile edit</title>
  </head>
  <body>
    <main class="profile-page">
      <article class="profile">
        <a href="/" class="profile__back">
          <span class="visually-hidden">Go back</span>
        </a>
        <section class="profile-main">
          <form class="profile__form profile-form">
            <label class="profile-main__avatar">
              <input type="file" name="avatar" class="visually-hidden" />
              <img
                class="profile-main__avatar-img"
                src="https://via.placeholder.com/130"
                alt="User avatar"
              />
            </label>
            <h2 class="profile__person-name">Avital</h2>
            {{#each profile.fields}}
            {{> profile-block/profile-block-edit}}
            {{/each}}
          </form>
          <section class="profile-form">
            <button type="button" class="button button--profile-submit">
              Save
            </button>
          </section>
        </section>
      </article>
    </main>
  </body>
</html>