<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
    <title>Sign Up</title>
  </head>
  <body>
    <main class="enter-page">
      <article class="enter">
        <h1 class="enter__header">Sign Up</h1>
        <form class="enter__form enter-form">
          {{#each signup.fields}}
            {{> input-field-block/input-field-block}}
          {{/each}}
          <div class="enter-form__buttons-block">
            {{> button/button class="enter-form__submit" type="submit" title="Create account"}}
            {{> link/link class="enter-form__link" href="./signin.hbs" title="Sign In"}}
          </div>
        </form>
      </article>
    </main>
  </body>
</html>
