<!DOCTYPE html>
<html lang="en">
  <head>
    {{> meta}}
    <title>Profile set password</title>
  </head>
  <body>
    <main class="profile-page">
      <article class="profile">
        <a href="/" class="profile__back">
          <span class="visually-hidden">Go back</span>
        </a>
        <section class="profile-main">
          <img
            class="profile-main__avatar"
            src="https://via.placeholder.com/130"
            alt="User avatar"
          />
          <h2 class="profile__person-name">Avital</h2>
          <form class="profile__form profile-form">
            {{#each profile.passwordFields}}
            {{> profile-block/profile-block-edit}}
            {{/each}}
          </form>
          <section class="profile-form">
            <button type="button" class="button button--profile-submit">
              Save
            </button>
          </section>
        </section>
      </article>
    </main>
  </body>
</html>