.modal {
  position: absolute;
}

.modal--center {
  background-color: rgba(30, 30, 30, 0.5);
  width: 100%;
  height: 100%;
  z-index: 8000;
}

.modal-content {
  background: $white;
  border-radius: 12px;
  position: absolute;
  z-index: 8001;
  padding: 15px;
}

.modal--center .modal-content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
}

.user-action-modal {
  width: 340px;
  padding: 30px;
  padding-top: 50px;
  background: $white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.user-action-modal__submit {
  margin-top: 35px;
}

.message-form-modal {
  top: -110px;
  left: 10px;
  min-width: 160px;
}

.message-form-modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-form-modal__button {
  width: 100%;
  padding: 0;
  padding-left: 37px;
  padding-bottom: 5px;
  min-height: 22px;
  font-size: 12px;
  line-height: 14px;
  color: $black;
  background-position: left center;
  background-size: auto 22px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  box-shadow: none;
  text-align: left;
  cursor: pointer;
}

.message-form-modal__button--photo {
  background-image: url("../static/img/photo-ico.svg");
}

.message-form-modal__button--file {
  background-image: url("../static/img/file-ico.svg");
}

.message-form-modal__button--location {
  background-image: url("../static/img/location-ico.svg");
}
