$blue: #3369f3;
$red: #ff2f2f;
$grey: #999999;
$black: #1e1e1e;
$white: #ffffff;
$lightGray: #eaeaea;
$transparent: rgba(255, 255, 255, 0);
$lightBlue: #e4edfd;

body,
html {
  height: 100%;
  font-family: Inter;
  color: $black;
}

@import "./common.scss";
@import "./components/button/button.scss";
@import "./components/link/link.scss";
@import "./pages/enter/enter.scss";
@import "./components/input-field-block/input-field-block.scss";
@import "./pages/error/error.scss";
@import "./pages/chat/chat.scss";
@import "./components/chat-tab/chat-tab.scss";
@import "./components/chat-message/chat-message.scss";
@import "./components/modal/modal.scss";
@import "./pages/profile/profile.scss";
@import "./components/profile-form/profile-form.scss";
@import "./components/profile-block/profile-block.scss";
