.chat-tab {
  padding: 10px;
  display: grid;
  grid-template-columns: 47px 1fr;
  grid-template-rows: 13px 34px;
  cursor: pointer;
  border: 0;

  &--selected {
    background-color: #e4edfd;
  }
}

.chat-tab__avatar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50%;
}

.chat-tab__header {
  display: flex;
  justify-content: space-between;
  height: 13px;
  padding-left: 10px;
}

.chat-tab__body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  overflow: hidden;
}

.chat-tab__unread-cnt {
  width: 25px;
  height: 25px;
  margin: auto 0;
  flex-shrink: 0;
  background-color: #3369f3;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin: 0;
}

.chat-tab__name {
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
  margin: 0;
}

.chat-tab__time {
  font-size: 13px;
  line-height: 13px;
  color: #999999;
}

.chat-tab__text {
  font-size: 12px;
  line-height: 15px;
  color: #999999;
  margin: 0;
}
